page-categories {

    ion-content{
        background-color: rgba(5, 4, 4, 0.712)!important;
      }

    .toolbar-background{
        background-color: rgb(94, 94, 94);
    }

    ion-menu{
        ion-content{
            --ion-background-color:black
        }
  }




    .circle{
        border-radius: 20%;
    }


    .list .item{
        color: rgb(224, 220, 220);
        border-radius:35px;
        height: 88px;
        margin:8px auto;
        border-color: #050505;
    }

    .list{
        margin-top:0%;  
    }
}
