
  ion-content {
    background-color: rgba(0, 0, 0, 0.726)!important;
  }
 
  $colors: (
    primary:    #488aff,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
  
    custom:     #777
  );

    .toolbar-title.toolbar-title-md, 
    .toolbar-title.toolbar-title-ios, 
    .toolbar-title.toolbar-title-wp { color: map-get($colors, light); }


  .toolbar-background{
    background-color: rgba(3, 2, 2, 0.76)
}


.item{
    color: rgb(238, 238, 238);
}

.item-complex .item-content, .item{
    background-color: rgba(37, 37, 37, 0.582),

}

