page-products {
    p {
        color: rgba(230, 230, 230, 0.692)!important;
    }


    .circle{
        width: auto;
        height: auto;
        border-radius: 100%;
    }

    .item{
        color: rgb(238, 238, 238);
        border-radius:33px;
        height: 88px;
        margin:8px auto;
    }


}
